In [ ]:
# importing libraries which will be used for the initial exploration of the data quality and integrity.

# loading the libraries
import pandas as pd # pandas will be used to manipulate the data
import numpy as np # numpy will be used to perform the mathematical operation
from numpy import mean
# the libraries to visualise the plots include matplotlib.pyplot, plotly.express and seaborn 
import matplotlib.pyplot as plt  
import plotly.express as px 
import seaborn as sns
# to enable matplotlib mode, we will use the %matplotlib inline magic command
%matplotlib inline 
sns.set(color_codes=True)

%config InlineBackend.figure_format = 'retina'
sns.set_context('talk')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' 

# to suppress the warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# reading the dataset

# the index of producer prices of agricultural products (output)
ireland1 = pd.read_csv('Ireland2007_2017.csv')
ireland2 = pd.read_csv('Ireland2018_2021.csv')
denmark1 = pd.read_csv('Denmark2007_2017.csv')
denmark2 = pd.read_csv('Denmark2018_2021.csv')

# gross domestic product in â‚¬million
gdp_ie = pd.read_csv('GDP_IE.csv')
gdp_dk = pd.read_csv('GDP_DK.csv')

# Ireland Data Exploration

In [ ]:
# Merge two datasets into one
ie_output = pd.concat([ireland1, ireland2])

# Reset index for later merging
ie_output.reset_index(drop=True, inplace=True)

# Sort values to ensure date in time are in order
ie_output.sort_values(['Time', 'Country'], inplace=True)

In [ ]:
# showing the first five rows of the merged dataframe
ie_output.head()

In [ ]:
# converting time to datetime and adding new column quarter
ie_output.Time = pd.to_datetime(ie_output.Time)
ie_output ["Quarter"] = ie_output.Time.dt.quarter

In [ ]:
# showing the first five rows of the dataframe
ie_output.head()

In [ ]:
# showing the summary of the dataset: 60 rows, 13 columns
# observing the Dtype 
ie_output.info()

In [ ]:
# gross domestic product quarterly date from 2007 to 2021
gdp_ie.head()

In [ ]:
# showing the summary of the new dataset to be merged: 60 rows, 3 columns
# observing the Dtype 
gdp_ie.info()

In [ ]:
# converting time to datetime and adding new column quarter
gdp_ie.Time = pd.to_datetime(gdp_ie.Time)
gdp_ie ["Quarter"] = gdp_ie.Time.dt.quarter

In [ ]:
# replace function to change comma
gdp_ie = gdp_ie.replace(',','', regex=True)

In [ ]:
#converting GDP column to numeric 
gdp_ie = pd.DataFrame(gdp_ie)
gdp_ie ["Gross_domestic_product_(in million)"] = pd.to_numeric(gdp_ie["Gross_domestic_product_(in million)"], errors='coerce')

In [ ]:
# showing the first five rows of the dataframe
gdp_ie.head()

In [ ]:
# round_up the gross domestic product
# round_up was done to get rid of the decimal points and so the numeric table will be clean and tidy
import math # mathematical function is required to return the ceiling of integer greater or equal to
gdp_ie['GDP_in_millions'] = gdp_ie['Gross_domestic_product_(in million)'].apply(math.ceil)

In [ ]:
# merging Ireland's Agricultural Products and GDP from 2007 to 2021
ie_agri=pd.merge(ie_output, gdp_ie)
ie_agri.head()

In [ ]:
# representing the dimensionality of the final dataset
ie_agri.shape

In [ ]:
# showing the summary of the final dataset: 60 rows, 15 columns
# observing the Dtype 
ie_agri.info()

In [ ]:
# checking for missing values
ie_agri.count()

In [ ]:
# rearranging columns name
# not including column 'Quarter' as this variable is no longer needed
ie_agri = ie_agri[['Country', 'Time', 'GDP_in_millions', 'Cereals_(including_seeds)', 
                 'Cattle', 'Cattle_excluding_calves', 'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 
                'Eggs']]
ie_agri.head()

In [ ]:
# plotting Ireland's movement of GDP from 2007 to 2021
plt.rcParams["figure.figsize"] = (30,15)
sns.lineplot(data=ie_agri, x="Time", y= "GDP_in_millions");

In [ ]:
# separate plot for GDP value in million Euros
# GDP has high value in million Euro compared to other variable prices are in hundred Euro
fig = px.line(ie_agri, x='Time', y= 'GDP_in_millions')
fig.show()

In [ ]:
# visualising the other variables - Ireland agricultural products price in hundred Euro from 2007 to 2021
fig = px.line(ie_agri, x='Time', y= ['Milk','Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves', 
           'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products','Eggs'])
fig.show()

In [ ]:
# visualising the variable price for Cattle, Cattle excluding calves and Calves from 2007 to 2021
# separate plot was created to have a clear visualisation of the movements of the prices per year
fig = px.line(ie_agri, x='Time', y= ['Cattle', 'Cattle_excluding_calves', 'Calves'])
fig.show()

In [ ]:
# visualising the variable price for Pigs, Sheep and Goats, Poulty and Animal Products from 2007 to 2021
# separate plot was created to have a clear visualisation of the movements of the prices per year
fig = px.line(ie_agri, x='Time', y= ['Pigs', 'Sheep_and_goats','Poultry', 'Animal_products',])
fig.show()

In [ ]:
# visualising the variable price for Milk and Eggs from 2007 to 2021
# separate plot was created to have a clear visualisation of the movements of the prices per year
fig = px.line(ie_agri, x='Time', y= ['Milk', 'Eggs'])
fig.show()

In [ ]:
# visualising all variables excluding GDP
plt.rcParams["figure.figsize"] = (30,15)
ie_agri.plot(x='Time', y= ['Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves', 
           'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 'Eggs'])
plt.show()

In [ ]:
# showing the box plot of all variables
ie_agri.plot.box()

In [ ]:
# Outlier Analysis
# plotting with 5 rows and 2 columns
fig, axs = plt.subplots(5,2, figsize = (15,8)) 

plt1 = sns.boxplot(ie_agri['Cereals_(including_seeds)'], ax = axs[0,0])
plt2 = sns.boxplot(ie_agri['Cattle'], ax = axs[0,1])
plt3 = sns.boxplot(ie_agri['Cattle_excluding_calves'], ax = axs[1,0])
plt4 = sns.boxplot(ie_agri['Calves'], ax = axs[1,1])
plt5 = sns.boxplot(ie_agri['Pigs'], ax = axs[2,0])
plt6 = sns.boxplot(ie_agri['Sheep_and_goats'], ax = axs[2,1])
plt7 = sns.boxplot(ie_agri['Poultry'], ax = axs[3,0])
plt8 = sns.boxplot(ie_agri['Animal_products'], ax = axs[3,1])
plt9 = sns.boxplot(ie_agri['Milk'], ax = axs[4,0])
plt10 = sns.boxplot(ie_agri['Eggs'], ax = axs[4,1])

plt.tight_layout()

In [ ]:
# checking the value of the outliers
Q1 = ie_agri.quantile(0.25) 
Q3 = ie_agri.quantile(0.75) 
IQR = Q3 - Q1 
print(IQR)

In [ ]:
# The Five Number Summary
ie_agri.describe()

In [ ]:
# Statistical Test - Correlation of the Discrete Variables
# correlation matrix
correlation = ie_agri.corr()
correlation

In [ ]:
# plotting correlations on a heatmap

# figure size
plt.figure(figsize=(20,10))

sns.heatmap(correlation, cmap="YlGnBu", annot=True)
plt.show();

In [ ]:
# to plot pairwise relationships in a dataset.
sns.pairplot(ie_agri)

In [ ]:
# using DataPrep.EDA tool in Python. 
# it allows to understand a Pandas/Dask DataFrame with a few lines of code in seconds.

from dataprep.eda import create_report
from pandas_profiling import ProfileReport

In [ ]:
# using scipy libray to import the stats
from scipy import stats
profile = ProfileReport(ie_agri, title= "Ireland - Agricultural Output", explorative=True)
profile

# Denmark Data Exploration

In [ ]:
# Merge two datasets into one
dk_output = pd.concat([denmark1, denmark2])

# Reset index for later merging
dk_output.reset_index(drop=True, inplace=True)

# Sort values to ensure date in time are in order
dk_output.sort_values(['Time', 'Country'], inplace=True)

In [ ]:
# showing the first five rows of the merged dataframe
dk_output.head()

In [ ]:
# converting time to datetime and adding new column quarter
dk_output.Time = pd.to_datetime(dk_output.Time)
dk_output ["Quarter"] = dk_output.Time.dt.quarter

In [ ]:
# showing the first five rows of the dataframe
dk_output.head()

In [ ]:
# showing the summary of the dataset: 60 rows, 13 columns
# observing the Dtype 
dk_output.info()

In [ ]:
# gross domestic product quarterly date from 2007 to 2021
gdp_dk.head()

In [ ]:
# showing the summary of the new dataset to be merged: 60 rows, 3 columns
# observing the Dtype 
gdp_dk.info()

In [ ]:
# converting time to datetime and adding new column quarter
gdp_dk.Time = pd.to_datetime(gdp_dk.Time)
gdp_dk ["Quarter"] = gdp_dk.Time.dt.quarter

In [ ]:
# replace function to change comma
gdp_dk = gdp_dk.replace(',','', regex=True)

In [ ]:
#converting GDP column to numeric 
gdp_dk = pd.DataFrame(gdp_dk)
gdp_dk['Gross_domestic_product (in million) '] = pd.to_numeric(gdp_dk['Gross_domestic_product (in million) '], errors='coerce')

In [ ]:
# showing the first five rows of the dataframe
gdp_dk.head()

In [ ]:
# round_up the gross domestic product
# round_up was done to get rid of the decimal points and so the numeric table will be clean and tidy
import math # mathematical function is required to return the ceiling of integer greater or equal to
gdp_dk['GDP_in_millions'] = gdp_dk['Gross_domestic_product (in million) '].apply(math.ceil)

In [ ]:
# merging Denmark's Agricultural Products and GDP from 2007 to 2021
dk_agri=pd.merge(dk_output, gdp_dk)
dk_agri.head()

In [ ]:
# representing the dimensionality of the final dataset
dk_agri.shape

In [ ]:
# showing the summary of the final dataset: 60 rows, 15 columns
# observing the Dtype 
dk_agri.info()

In [ ]:
# converting object variable to float
dk_agri ["Eggs"] = pd.to_numeric(dk_agri["Eggs"], errors='coerce')
dk_agri = dk_agri.replace(np.nan, 0, regex=True)

In [ ]:
# checking for missing values
dk_agri.count()

In [ ]:
# rearranging columns name
# not including 'Quarter'
dk_agri = dk_agri[['Country', 'Time', 'GDP_in_millions', 'Cereals_(including_seeds)', 
                 'Cattle', 'Cattle_excluding_calves', 'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 
                'Eggs']]
dk_agri.head()

In [ ]:
# visualising Denmark's GDP from 2007 to 2011
plt.rcParams["figure.figsize"] = (30,15)
sns.lineplot(data=dk_agri, x="Time", y= "GDP_in_millions");

In [ ]:
# separate plot for GDP value in million Euros from 2007 to 2021
# GDP has high value in million Euro compared to other variable prices are in hundred Euro
fig = px.line(dk_agri, x='Time', y= 'GDP_in_millions')
fig.show()

In [ ]:
# visualising the other variables - Denmark's agricultural products price in hundred Euro
fig = px.line(dk_agri, x='Time', y= ['Milk','Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves', 
           'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products','Eggs'])
fig.show()

In [ ]:
# visualising the variable price for Cattle, Cattle excluding calves and Calves from 2007 to 2021
# separate plot was created to have a clear visualisation of the movements of the prices per year
fig = px.line(dk_agri, x='Time', y= ['Cattle', 'Cattle_excluding_calves', 'Calves'])
fig.show()

In [ ]:
# visualising the variable price for Pigs, Sheep and Goats, Poulty and Animal Products from 2007 to 2021
# separate plot was created to have a clear visualisation of the movements of the prices per year
fig = px.line(ie_agri, x='Time', y= ['Pigs', 'Sheep_and_goats','Poultry', 'Animal_products',])
fig.show()

In [ ]:
# visualising the variable price for Milk and Eggs from 2007 to 2021
# separate plot was created to have a clear visualisation of the movements of the prices per year
fig = px.line(dk_agri, x='Time', y= ['Milk', 'Eggs'])
fig.show()

In [ ]:
# visualising all variable excluding GDP from 2007 to 2021
plt.rcParams["figure.figsize"] = (30,15)
dk_agri.plot(x='Time', y= ['Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves', 
           'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 'Eggs'])
plt.show()

In [ ]:
# showing the box plot of all variables
dk_agri.plot.box()

In [ ]:
# Outlier Analysis
# plotting with 5 rows and 2 columns
fig, axs = plt.subplots(5,2, figsize = (15,8)) 

plt1 = sns.boxplot(dk_agri['Cereals_(including_seeds)'], ax = axs[0,0])
plt2 = sns.boxplot(dk_agri['Cattle'], ax = axs[0,1])
plt3 = sns.boxplot(dk_agri['Cattle_excluding_calves'], ax = axs[1,0])
plt4 = sns.boxplot(dk_agri['Calves'], ax = axs[1,1])
plt5 = sns.boxplot(dk_agri['Pigs'], ax = axs[2,0])
plt6 = sns.boxplot(dk_agri['Sheep_and_goats'], ax = axs[2,1])
plt7 = sns.boxplot(dk_agri['Poultry'], ax = axs[3,0])
plt8 = sns.boxplot(dk_agri['Animal_products'], ax = axs[3,1])
plt9 = sns.boxplot(dk_agri['Milk'], ax = axs[4,0])
plt10 = sns.boxplot(dk_agri['Eggs'], ax = axs[4,1])

plt.tight_layout()

In [ ]:
# checking the value of the outliers
Q1 = dk_agri.quantile(0.25) 
Q3 = dk_agri.quantile(0.75) 
IQR = Q3 - Q1 
print(IQR)

In [ ]:
# The Five Number Summary
dk_agri.describe()

In [ ]:
# Statistical Test - Correlation of the Discrete Variables
# correlation matrix
correlation = dk_agri.corr()
correlation

In [ ]:
# plotting correlations on a heatmap

# figure size
plt.figure(figsize=(20,10))

sns.heatmap(correlation, cmap="BuPu", annot=True)
plt.show();

In [ ]:
# using DataPrep.EDA tool in Python. 
# it allows to understand a Pandas/Dask DataFrame with a few lines of code in seconds.
# using scipy libray to import the stats
from scipy import stats
profile = ProfileReport(dk_agri, title= "Denmark - Agricultural Output", explorative=True)
profile

# Statistical Analysis

## Descriptive Statistic

In [ ]:
# mean of Ireland's GDP
ie_gdp_mean = ie_agri['GDP_in_millions'].mean()
print(ie_gdp_mean)

In [ ]:
# median of Ireland's GDP
ie_gdp_median = ie_agri['GDP_in_millions'].median()
print(ie_gdp_median)

In [ ]:
# mode of Ireland's GDP
ie_gdp_mode = ie_agri['GDP_in_millions'].mode()
print(ie_gdp_mode)

In [ ]:
# standard deviation of Ireland's GDP
ie_deviation = ie_agri['GDP_in_millions'].std()
print(ie_deviation)

In [ ]:
# Variable GDP
# Data is not normally distributed
fig = plt.figure(figsize = (30,5))
ax1 = fig.add_subplot(121)
sns.distplot(ie_agri['GDP_in_millions'], kde=True);

## Inferential Statistics - T-Test One Population

In [ ]:
# Importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats
from statsmodels.stats import weightstats

In [ ]:
# name the dataframe
ie_ttest1 = pd.DataFrame(ie_agri)

In [ ]:
# Variable Calves
# Data is not normally distributed
fig = plt.figure(figsize = (30,5))
ax1 = fig.add_subplot(121)
sns.distplot(ie_ttest1['Calves'], kde=True);

In [ ]:
# Define the variable 
# price of calves in euros
X = ie_ttest1['Calves']; X

In [ ]:
# test No. 1
#H0 : u = 120
#H1 : u =! 120
#stats.ttest_1samp(X,mu of H0)
stats.ttest_1samp(X,120)

For T-Test Number 1, the pvalue is less than 0.05, therefore the null hypothesis is rejected.

In [ ]:
# test No. 2
#H0 : u = 135
#H1 : u =! 135
#stats.ttest_1samp(X,mu of H0)
stats.ttest_1samp(X,135)

For T-Test Number 2, the pvalue is greater than 0.05, therefore the null hypothesis is accepted.

In [ ]:
# test No. 3
#H0 : u = 195
#H1 : u =! 195
#stats.ttest_1samp(X,mu of H0)
stats.ttest_1samp(X,195)

For T-Test Number 3, the pvalue is greater than 0.05, therefore the null hypothesis is accepted.

## Inferential Statistics - T-Test with Different Populations

In [ ]:
# dataset
ie_output = pd.DataFrame(ie_agri)
dk_output = pd.DataFrame(dk_agri)

In [ ]:
# 10 variables for two countries
ie_output = ie_output[['GDP_in_millions', 'Cereals_(including_seeds)', 
                 'Cattle', 'Cattle_excluding_calves', 'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 
                'Eggs']]

dk_output = dk_output[['GDP_in_millions', 'Cereals_(including_seeds)', 
                 'Cattle', 'Cattle_excluding_calves', 'Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 
                'Eggs']]

In [ ]:
# using the ttest_ind() function from the scipy.stats library to conduct a two sample t-test.
stats.ttest_ind(ie_output, dk_output, equal_var=True)

In [ ]:
# assumming the populations have equal variance
print(np.var(ie_output), np.var(dk_output))

The two hypotheses for this particular two sample t-test are as follows:
H0: Âµ1 = Âµ2 (the two population means are equal)
HA: Âµ1 â‰ Âµ2 (the two population means are not equal)

In [ ]:
#perform two sample t-test with equal variances
stats.ttest_ind(a=ie_output, b=dk_output, equal_var=True)

The p-value of all the variables is greater than alpha = 0.05, therefore, the null hypothesis is accepted. There is no sufficient evidence to say the two populations are different.

## Inferential Statistics - Non Parametric Tests

In [ ]:
eu_output = pd.read_csv('output2011_2017.csv')
eu_output.head()

In [ ]:
# representing the dimensionality of the dataframe
eu_output.shape

In [ ]:
#Normality plot of the variable "Milk"
stats.probplot(eu_output.Milk, plot=plt)
plt.figure()

### Shapiro Wilk Test

In [ ]:
#Shapiro wilk test for Ireland's Milk
stats.shapiro(eu_output.Milk[eu_output.Country == "Ireland"])

In [ ]:
#Shapiro wilk test for Denmark's Milk
stats.shapiro(eu_output.Milk[eu_output.Country == "Denmark"])

In [ ]:
#Shapiro wilk test for UK's Milk
stats.shapiro(eu_output.Milk[eu_output.Country == "United Kingdom"])

In [ ]:
#Shapiro wilk test for Belgium's Milk
stats.shapiro(eu_output.Milk[eu_output.Country == "Belgium"])

In [ ]:
#Shapiro wilk test for Italy's Milk
stats.shapiro(eu_output.Milk[eu_output.Country == "Italy"])

In [ ]:
# checking the counts for each country
eu_output['Country'].value_counts()

In [ ]:
Ireland = eu_output.Milk[eu_output.Country == "Ireland"]

In [ ]:
Denmark = eu_output.Milk[eu_output.Country == "Denmark"]

In [ ]:
UK  = eu_output.Milk[eu_output.Country == "United Kingdom"]

In [ ]:
Belgium  = eu_output.Milk[eu_output.Country == "Belgium"]

In [ ]:
Italy  = eu_output.Milk[eu_output.Country == "Italy"]

In [ ]:
sd_ie = Ireland.std()
sd_ie

In [ ]:
sd_de = Denmark.std()
sd_de

In [ ]:
sd_uk = UK.std()
sd_uk

In [ ]:
sd_be = Belgium.std()
sd_be

In [ ]:
sd_it = Italy.std()
sd_it

### Levene's Test

In [ ]:
#Homogeinity of variance: Levene's test
from scipy.stats import levene

In [ ]:
levene(Ireland, Denmark, UK, Belgium, Italy, center = 'mean')

The pvalue=0.13569490854616326 is not less than 0.05. This would mean that it fails to reject the null hypothesis. There is not sufficient evidence to say that the variance of milk in 5 countries is significantly different.

### Mann-Whitney U test

In [ ]:
#perform the Mann-Whitney U test

def output_umann_whitney(ie_output, dk_output):
        list_1 = ie_output
        list_2 = dk_output  
        result = stats.mannwhitneyu(list_1, list_2,alternative='two-sided')
        if result.pvalue <= 0.05:
            print(f"The p-value of Ireland versus Denmark is {result.pvalue}\n,the null hypothesis is rejected")
            print(f"round{result.pvalue}\n")
        else:
            print(f"The p-value of Ireland versus Denmark is {result.pvalue}\n,the null hypothesis is accepted")
            print(f"round{result.pvalue}\n")

In [ ]:
# Null hypothesis: Two groups have equal median
# Alternative hypothesis: Two groups does not have equal median
output_umann_whitney(ie_output["Milk"], dk_output["Milk"])

In [ ]:
# Null hypothesis: Two groups have equal median
# Alternative hypothesis: Two groups does not have equal median
output_umann_whitney(ie_output["GDP_in_millions"], dk_output["GDP_in_millions"])

In [ ]:
# Null hypothesis: Two groups have equal median
# Alternative hypothesis: Two groups does not have equal median
output_umann_whitney(ie_output["Cereals_(including_seeds)"], dk_output["Cereals_(including_seeds)"])

In [ ]:
# Null hypothesis: Two groups have equal median
# Alternative hypothesis: Two groups does not have equal median
output_umann_whitney(ie_output["Cattle"], dk_output["Cattle"])

In [ ]:
# Null hypothesis: Two groups have equal median
# Alternative hypothesis: Two groups does not have equal median
output_umann_whitney(ie_output["Pigs"], dk_output["Pigs"])

In [ ]:
# Null hypothesis: Two groups have equal median
# Alternative hypothesis: Two groups does not have equal median
output_umann_whitney(ie_output["Eggs"], dk_output["Eggs"])

# Generalised Linear Model

## Generalised Linear Model using Ireland's Agricultural Output Dataset

In [ ]:
# importing libraries
import scipy.stats as st
from sklearn.linear_model import TweedieRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
from sklearn import metrics

In [ ]:
# Ireland dataset
ie_agri_linear = pd.DataFrame (ie_agri)

In [ ]:
# dropping column 'Time'
ie_agri_linear.drop(columns=['Time'],inplace=True)

In [ ]:
# country in dataset is categorical (factor) variables, which needs to be dummy encoded. 
# then dropping one level of the factor when encoding for linear regression in order to avoid introducing multicolinearity.
ie_agri_linear_encoded = pd.get_dummies(data=ie_agri_linear,drop_first=True)
ie_agri_linear_encoded

In [ ]:
# splitting the data into train and test partitions, using a 90/10 train/test split.
train, test = train_test_split(ie_agri_linear_encoded,test_size = 0.1,random_state=0)

In [ ]:
# splitting the train and test partitions into sets of independent variables (X) and dependent variables (y).
X_train = train.drop(['GDP_in_millions'],axis=1)
y_train = train['GDP_in_millions']
X_test = test.drop(['GDP_in_millions'],axis=1)
y_test = test['GDP_in_millions']

In [ ]:
# scale the independent variables in the train and test datasets so that each feature (variable) has a mean of zero and a standard deviation of one
X_train_scaled = scale(X_train)
X_test_scaled = scale(X_test)

### Tweedie Regression

In [ ]:
# create the model with default parameters.
tweedie_model = TweedieRegressor(max_iter=1000)

In [ ]:
# create a tuning grid to find (near) optimal values for the hyperparameters.
tune_grid = {
    'power' : np.append([0],np.arange(1,3.05,0.05)),
    'alpha' : 10**np.arange(-10,6,dtype=float)
}
tune_grid

In [ ]:
# setting up cross-fold valiation - using 10-fold cross-validation repeated 10 times. 
# can reduce the number of repeats to speed up computation time.
cv = RepeatedKFold(n_splits=10, n_repeats=10, random_state=0)

In [ ]:
# hyperparameter optimisation.
opt = GridSearchCV(
    tweedie_model, tune_grid, scoring='neg_mean_absolute_error', 
    cv=cv)
opt_results = opt.fit(X_train_scaled, y_train+1)

In [ ]:
# printing the best results found after the completion of the hyperparameter optimisation.
format_string = 'Average cross-validated in-sample MAE {:.3f} {:.3f}'
print('MAE: {:.3f} with parameters: {}'.format(-opt_results.best_score_,
                                                   str(opt_results.best_params_)))

In [ ]:
# training a Tweedie Regressor model with the optimum parameter values. 
tweedie_model = TweedieRegressor(
    alpha=opt_results.best_params_['alpha'],
    power=opt_results.best_params_['power'],max_iter=5000)
tweedie_model.fit(X_train_scaled,y_train+1)

### Evaluating the Tweedie Regression model

In [ ]:
# predicting the ð‘¦ values for the X_test data. 
y_predicted = tweedie_model.predict(X_test_scaled) - 1
y_predicted

In [ ]:
# determining the range of values in the y in order to obtain some notion of model performance. 
y_test.max() - y_test.min()

In [ ]:
# calculating the average error for the predictions (Mean Absolute Error).
print('Out-of-sample MAE: {:3f}'.format(mean_absolute_error(y_test,y_predicted)))

In [ ]:
#calculating r2 using sklearn
from sklearn.metrics import r2_score
print(r2_score(y_test,y_predicted))

## Regression Model Dashboard

In [ ]:
# importing the libraries for dashboard
from sklearn.ensemble import RandomForestRegressor
from explainerdashboard import RegressionExplainer, ExplainerDashboard
import dash_bootstrap_components as dbc
from sklearn.model_selection import train_test_split

# Putting independent variables/features to X
X = ie_agri_linear_encoded.drop('GDP_in_millions',axis=1)

# Putting response/dependent variable/feature to y
y = ie_agri_linear_encoded['GDP_in_millions']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

In [ ]:
# showing the y_train 
y_train

In [ ]:
# fitting the model
model = RandomForestRegressor(n_estimators=50, max_depth=5)
model.fit(X_train, y_train.values.ravel())

In [ ]:
# calling the model function
explainer = RegressionExplainer(model, X_test, y_test)

db = ExplainerDashboard(explainer, 
                        title="Ireland's Agricultural Output", # defaults to "Model Explainer"
                        whatif=False
                        
                        )

ExplainerDashboard(explainer,mode='inline').run()

# Sarimax Time Series Model - Ireland

In [ ]:
#Select the variables
ie_sarimax = ie_agri.loc[:, ['Time', 'GDP_in_millions','Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves','Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 'Eggs']]
ie_sarimax.head()

In [ ]:
# setting Time to datetime
ie_sarimax.index = pd.to_datetime(ie_sarimax['Time'])
ie_sarimax.drop(columns='Time',inplace=True)
ie_sarimax

In [ ]:
#Visualisation
ie_sarimax['GDP_in_millions'].plot(figsize = (10, 7), legend = True)

In [ ]:
#Stationarity
from statsmodels.tsa.stattools import adfuller
stationarity = adfuller(ie_sarimax['GDP_in_millions'])
stationarity
#print('Dickey Fuller p-value: %F' % stationarity[1])
#the p-value result is > 0.05, data is not stationary, so need to work on the data to make it stationary for the analysis

In [ ]:
#Training and test set
test_time = 12
training_set = ie_sarimax.iloc[:-test_time, :]
test_set = ie_sarimax.iloc[-test_time:, :]
test_set.tail(5)

In [ ]:
#SARIMAX
#exogenous variables
train_exog = training_set.iloc[:,1:]
test_exog = test_set.iloc[:,1:]
test_exog.head()

In [ ]:
#Import especial library
from pmdarima import auto_arima

In [ ]:
#Forecasting model
model = auto_arima(y = training_set['GDP_in_millions'],
                   X = train_exog,
                   m = 7,
                   seasonal = True,
                   stepwise = False)

In [ ]:
#Information of the model
model.summary()

In [ ]:
#Predictions
predictions_sarimax = pd.Series(model.predict(n_periods= test_time,
                              X = test_exog)).rename("SARIMAX")
predictions_sarimax.index = test_set.index                              
predictions_sarimax

In [ ]:
#Visualisation of the model
training_set['GDP_in_millions']['2007-01-01':].plot(figsize = (9,6), legend = True)
test_set['GDP_in_millions'].plot(legend = True)
predictions_sarimax.plot(legend = True);

In [ ]:
#MODEL ASSESSMENT
#MAE and RMSE
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(round(mean_absolute_error(test_set['GDP_in_millions'], predictions_sarimax),0))
print(round(np.sqrt(mean_squared_error(test_set['GDP_in_millions'], predictions_sarimax)), 0))

In [ ]:
#MAPE function
def MAPE(y_true, y_pred):
  y_true, y_pred = np.array(y_true), np.array(y_pred)
  return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
MAPE(test_set['GDP_in_millions'], predictions_sarimax)

# Sarimax Time Series Model - Denmark

In [ ]:
#Select the variables
dk_sarimax = dk_agri.loc[:, ['Time', 'GDP_in_millions','Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves','Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 'Eggs']]
dk_sarimax.head()

In [ ]:
# setting Time to datetime
dk_sarimax.index = pd.to_datetime(dk_sarimax['Time'])
dk_sarimax.drop(columns='Time',inplace=True)
dk_sarimax

In [ ]:
#Visualisation
dk_sarimax['GDP_in_millions'].plot(figsize = (10, 7), legend = True);

In [ ]:
#Stationarity
from statsmodels.tsa.stattools import adfuller
stationarity = adfuller(ie_sarimax['GDP_in_millions'])
stationarity
#print('Dickey Fuller p-value: %F' % stationarity[1])
#the p-value result is > 0.05, data is not stationary, so need to work on the data to make it stationary for the analysis

In [ ]:
#Training and test set
test_time = 12
training_set = dk_sarimax.iloc[:-test_time, :]
test_set = dk_sarimax.iloc[-test_time:, :]
test_set.tail(5)

In [ ]:
#SARIMAX
#exogenous variables
train_exog = training_set.iloc[:,1:]
test_exog = test_set.iloc[:,1:]
test_exog.head()

In [ ]:
#Import especial library
from pmdarima import auto_arima

In [ ]:
#Forecasting model
model = auto_arima(y = training_set['GDP_in_millions'],
                   X = train_exog,
                   m = 7,
                   seasonal = True,
                   stepwise = False)

In [ ]:
#Information of the model
model.summary()

In [ ]:
#Predictions
predictions_sarimax = pd.Series(model.predict(n_periods= test_time,
                              X = test_exog)).rename("SARIMAX")
predictions_sarimax.index = test_set.index                              
predictions_sarimax

In [ ]:
#Visualisation of the model
training_set['GDP_in_millions']['2007-01-01':].plot(figsize = (9,6), legend = True)
test_set['GDP_in_millions'].plot(legend = True)
predictions_sarimax.plot(legend = True);

In [ ]:
#MODEL ASSESSMENT
#MAE and RMSE
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(round(mean_absolute_error(test_set['GDP_in_millions'], predictions_sarimax),0))
print(round(np.sqrt(mean_squared_error(test_set['GDP_in_millions'], predictions_sarimax)), 0))

In [ ]:
#MAPE function
def MAPE(y_true, y_pred):
  y_true, y_pred = np.array(y_true), np.array(y_pred)
  return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
MAPE(test_set['GDP_in_millions'], predictions_sarimax)

# TBATS Time Series - Ireland

In [ ]:
#Select the variables
ie_tbats = ie_agri.loc[:, ['Time', 'GDP_in_millions','Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves','Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 'Eggs']]
ie_tbats.head()

In [ ]:
# converting time to datetime
ie_tbats.index = pd.to_datetime(ie_tbats['Time'])
ie_tbats.drop(columns='Time',inplace=True)

In [ ]:
#Visualisation
ie_tbats['GDP_in_millions'].plot(figsize = (10, 7), legend = True)

In [ ]:
#Training and test set 
test_time = 12
training_set = ie_tbats.iloc[:-test_time, :]
test_set = ie_tbats.iloc[-test_time:, :]

In [ ]:
#Importing library
from tbats import TBATS

In [ ]:
#TBATS model
model = TBATS(use_trend = True, seasonal_periods = [4, 15])
model = model.fit(training_set['GDP_in_millions'])

#seasonal_periods: quarterly pattern

In [ ]:
# performing predictions
predictions_tbats = model.forecast(steps = len(test_set))
predictions_tbats

In [ ]:
# perform predictions and use Pandas to give structure to the data
predictions_tbats = pd.Series(model.forecast(steps = len(test_set)))
predictions_tbats.head()

In [ ]:
# perform predictions, use Pandas to give structure to the data, rename the prediction and set the index
predictions_tbats = pd.Series(model.forecast(steps = len(test_set))).rename("TBATS")
predictions_tbats.index = test_set.index
predictions_tbats.head()

In [ ]:
#Visualisation of the model
training_set['GDP_in_millions']['2007-01-01':].plot(figsize = (9,6), legend = True)
test_set['GDP_in_millions'].plot(legend = True)
predictions_tbats.plot(legend = True);

In [ ]:
# using MAE and RMSE again
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(round(mean_absolute_error(test_set['GDP_in_millions'], predictions_tbats),0))
print(round(np.sqrt(mean_squared_error(test_set['GDP_in_millions'], predictions_tbats)), 0))

In [ ]:
#MAPE function
def MAPE(y_true, y_pred):
  y_true, y_pred = np.array(y_true), np.array(y_pred)
  return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
MAPE(test_set['GDP_in_millions'], predictions_tbats)

# TBATS Time Series Model - Denmark

In [ ]:
#Select the variables
dk_tbats = dk_agri.loc[:, ['Time', 'GDP_in_millions','Cereals_(including_seeds)', 'Cattle', 'Cattle_excluding_calves','Calves', 'Pigs', 'Sheep_and_goats','Poultry', 'Animal_products', 'Milk', 'Eggs']]
dk_tbats.head()

In [ ]:
# converting time to datetime
dk_tbats.index = pd.to_datetime(dk_tbats['Time'])
dk_tbats.drop(columns='Time',inplace=True)

In [ ]:
#Visualisation
dk_tbats['GDP_in_millions'].plot(figsize = (10, 7), legend = True)

In [ ]:
#Training and test set 
test_time = 12
training_set = dk_tbats.iloc[:-test_time, :]
test_set = dk_tbats.iloc[-test_time:, :]

In [ ]:
#Importing library
from tbats import TBATS

In [ ]:
#TBATS model
model = TBATS(use_trend = True, seasonal_periods = [4, 15])
model = model.fit(training_set['GDP_in_millions'])

#seasonal_periods: quarterly pattern

In [ ]:
# performing predictions
predictions_tbats = model.forecast(steps = len(test_set))
predictions_tbats

In [ ]:
# perform predictions and use Pandas to give structure to the data
predictions_tbats = pd.Series(model.forecast(steps = len(test_set)))
predictions_tbats.head()

In [ ]:
# perform predictions, use Pandas to give structure to the data, rename the prediction and set the index
predictions_tbats = pd.Series(model.forecast(steps = len(test_set))).rename("TBATS")
predictions_tbats.index = test_set.index
predictions_tbats.head()

In [ ]:
#Visualisation of the model
training_set['GDP_in_millions']['2007-01-01':].plot(figsize = (9,6), legend = True)
test_set['GDP_in_millions'].plot(legend = True)
predictions_tbats.plot(legend = True);

In [ ]:
# using MAE and RMSE again
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(round(mean_absolute_error(test_set['GDP_in_millions'], predictions_tbats),0))
print(round(np.sqrt(mean_squared_error(test_set['GDP_in_millions'], predictions_tbats)), 0))

In [ ]:
#MAPE function
def MAPE(y_true, y_pred):
  y_true, y_pred = np.array(y_true), np.array(y_pred)
  return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
MAPE(test_set['GDP_in_millions'], predictions_tbats)